
body {
  font-family: sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 960px;
  height: 800px;
  background-image: url("lab-background.png");
  background-repeat: no-repeat;
  background-size: 760px 660px;
  z-index: -1;
}

#main-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}


h1 {
  font-size: 32px;
  color: #333;
  margin-left: 240px; 
  text-align: left;   /* 필요 시 왼쪽 정렬 */
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-left: 220px;
  margin-bottom: 40px;
}


#spring-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  height: 100px;
  position: relative; /* 추가! */
}

#anchor {
  width: 20px;
  height: 200px;
  background-color: black; /* 고정점 색상 */
}

#spring {
  width: 300px;
  height: 150px;
  transition: width 0.1s ease;
}

#sensor {
  width: 150px;
  height: 130px;
  cursor: grab;
}

#ruler {
  position: absolute;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 320px;
  width: 200px;
  height: 100px;
  z-index: -1; /* 가장 뒤로 */
}

#arrow {
  position: absolute;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 270px;
  width: 0px;
  height: 50px;
  z-index: 1; /* 가장 앞으로 */
  transform-origin: top right; /* 기준점을 오른쪽 위로 설정 */
  transition: width 0.1s ease;
}


#scale {
  font-size: 24px;
  color: #0077cc;
  margin-left: 120px;
  margin-bottom: 10px;
}

#slider-value {
  font-size: 24px;
  color: #0077cc;
  margin-left: 120px;
  margin-bottom: 30px;
}

#sliders-row {
  display: flex;

  gap: 60px;
  margin-left: 50px;
  margin-top: 20px;
}

#k-slider-wrapper,
#slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

input[type="range"] {
  width: 180px;
  margin-top: 10px;
}

#k-value {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}